.header {
    width: 90vw;
    background-color: white;
    border-radius: 1vh;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 2vw;
    margin: 0 auto;
    box-shadow: 0px 4px 6px 5px rgba(0, 0, 0, 0.1);
  }
  
  #company-logo {
    width: 8vw;
    aspect-ratio: 3/2;
    object-fit: cover;
  }
  
  .right-section {
    display: flex;
    align-items: center;
    gap: 2vw;
  }
  
  #company-contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin-right: 1vw;
  }
  
  #company-contacts p {
    margin: 0.5vh 0;
    font-size: 1vw;
    font-family: 'Poppins', sans-serif;
  }
  
  #menu {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  #menu-button {
    width: 4vw;
    font-size: 1vw;
    aspect-ratio: 2/1;
    color: white;
    border-radius: 1vh;
    border: solid 0.5vh white;
    background-color: #18264b;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  }
  
  #menu-button:hover {
    background-color: white;
    color: #18264b;
    border-color: #18264b;
  }
  
  .menu-dropdown {
    display: none;
    top: calc(100% + 0.5vh);
    right: 0;
    z-index: 1000;
    position: absolute;
    background: white;
    border: solid 0.3vh;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 1vh;
    width: 15vw;
    padding: 1vh;
  }
  
  .menu-dropdown a {
    display: block;
    color: #18264b;
    padding: 1vh;
    text-decoration: none;
  }
  
  .menu-dropdown a:hover {
    background-color: #18264b;
    color: white;
  }

.content {
    background: #82b3de;
    display: flex;
    width: 94%;
    margin-top: 2vh;
    padding: 2vh;
    justify-self: center;
    background-image: url('https://media.radissonhotels.net/image/radisson-blu-hotel-cebu/exterior/16256-116570-f64875903_4k.jpg?impolicy=GalleryLightboxFullscreen');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-radius: 1vh;
    box-shadow: 0px 4px 6px 5px rgba(0, 0, 0, 0.1);
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.75);
    width: 90%;
    height: 75vh;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2vw;
    padding-right: 2vw;
    border-radius: 1vh;
    border: solid 0.3vh #18264b;
}

.container h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5vw;
    font-weight: normal;
}

.container {
    display: flex;
    background-color: #18264b;
    border-radius: 1vh;
    justify-content: center;
    text-align: center;
    color: white;
    border: solid #18264b 0.3vh;
    width: 95%;
    padding: 2vh;
    margin-top: 2vh;;
    margin-bottom: 5vh;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    
}

.input-box {
    width: 98%;
    padding: 2vh;
    
    background-color: white;
    border-radius: 1vh;
    border: solid 0.3vh #18264b;
    box-sizing: border-box;
    display: block;
    color: #18264b;
    margin-top: 2vh;
}

.submit-btn {
    display: flex;
    margin-left: auto;
    width: 8vw;
    aspect-ratio: 3 /1;
    align-items: center;
    justify-content: center;
    border: solid 0.3vh #18264b;
    background-color: white;
    border-radius: 1vh;
    margin-top: 3vh;
    margin-right: 1vw;

    font-family: 'Poppins', sans-serif;
    color: #18264b;


    text-decoration: none;
    transition: all ease-in-out 0.2s;
}

.submit-btn:hover{
    background-color: #18264b;
}
