.header {
  width: 90vw;
  background-color: white;
  border-radius: 1vh;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vh 2vw;
  margin: 0 auto;
  box-shadow: 0px 4px 6px 5px rgba(0, 0, 0, 0.1);
}

#company-logo {
  width: 8vw;
  aspect-ratio: 3/2;
  object-fit: cover;
}

.right-section {
  display: flex;
  align-items: center;
  gap: 2vw;
}

#company-contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin-right: 1vw;
}

#company-contacts p {
  margin: 0.5vh 0;
  font-size: 1vw;
  font-family: 'Poppins', sans-serif;
}

#menu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#menu-button {
  width: 4vw;
  font-size: 1vw;
  aspect-ratio: 2/1;
  color: white;
  border-radius: 5px;
  border: solid 2px white;
  background-color: #18264b;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

#menu-button:hover {
  background-color: white;
  color: #18264b;
  border-color: #18264b;
}

.menu-dropdown {
  display: none;
  top: calc(100% + 0.5vh);
  right: 0;
  z-index: 1000;
  position: absolute;
  background: white;
  border: solid 2px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 15vw;
  padding: 1vh;
}

.menu-dropdown a {
  display: block;
  color: #18264b;
  padding: 1vh;
  text-decoration: none;
}

.menu-dropdown a:hover {
  background-color: #18264b;
  color: white;
}

.interface {
  width: 95%;
  aspect-ratio: 2.5/1;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  display: flex;
  margin-top: 2vh;
  justify-content: space-between;
  border-radius: 3vh;
}

#sidebar {
  display: flex;
  flex-direction: column;
  width: 18%;
  justify-content: space-between;
}

#interfaceImage {
  width:18%;
  display: flex;
  height: 100%;
  border-radius: 2vh;
  box-shadow: 0px 4px 6px 5px rgba(0, 0, 0, 0.1);

}

#hotel-image {
  width: 100%;
  display: flex;
  border-radius: 2vh;
  object-fit: cover;
}

#mainInterface {
  width: 58%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 2vh;
  border: solid 0.5vh #18264b;
  padding: 3vh;
  text-align: left;
  gap: 2vh;
  padding-top:15vh;
  color:#18264b;
  font-family: 'Poppins', sans-serif;
  box-shadow: 0px 4px 6px 5px rgba(0, 0, 0, 0.1);

}

#mainInterface h3{
  text-align: left;
  margin-left: 3vw;
  font-size: 2.5vw;
  
}

#mainInterface p{
  display: flex;
  font-size: 1.2vw;
  text-align: right;
  margin-left: auto;
  margin-right: 3vw;
  width: 50%;
}



#sidebarButtons {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

#sidebar a {
  text-decoration: none;
}

.sidebarButton {
  width: 100%;
  height: 10vh;
  background-color: #18264b;
  border-radius: 1vh;
  border: solid 0.5vh white;
  color:white;
  font-size:1.1vw;
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 6px 5px rgba(0, 0, 0, 0.1);

  transition: all ease-in-out 0.2s;
}

.sidebarButton:hover{
  color:#18264b;
  background-color: white;
  border:solid 0.5vh #18264b;
  height:12vh;
  font-size: 1.3vw;
}

#logoutButton{
  border: solid 0.3vh #18264b;
  border-radius: 0.8vh;
  font-family: 'Poppins', sans-serif;
  width: 10%;
  margin-left: auto;
  margin-right: 3vw;
  margin-top: 12vh;
  color: #18264b;
  font-size: 0.9vw;
  background-color: white;
  aspect-ratio: 2.5/1;
  padding:1vh;

  transition: all ease-in-out 0.2s;
}

#logoutButton:hover{
  color:white;
  background-color: #18264b;
  border:solid 0.5vh white;
}
