  body {
    background-color: white;
  }
  .header {
    width: 95%;
    background-color: white;
    height: auto;
    display: flex;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    box-shadow: 0px 4px 6px 5px rgba(0, 0, 0, 0.1);
  }
  
  #company-logo{
    display:flex;
    width:8vw;
    aspect-ratio:3/2;
    object-fit: cover;
    align-content: center;
  }
  
  #company-contacts {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    margin-left:auto;
    flex-direction:column;
    margin-right:20px;
  }
  
  #company-contacts p{
    margin:0;
    margin-top: 5px;
    font-size: 1vw;
    font-family: 'Poppins', sans-serif;
  }
  
  #menu {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  #menu-button {
    width: 4vw;
    font-size: 1vw;
    aspect-ratio: 2/1;
    color: white;
    border-radius: 5px;
    border-color: white;
    border: solid;
    box-shadow: 0;
    border-width: 2px;
    background-color: #18264b;
    
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  }
  
  #menu-button:hover {
    background-color: white;
    color:#18264b;
    border-color:#18264b;
  }
  
  .menu-dropdown {
    display:none;
    top: calc(100% + 5px);
    right: 0;
    z-index:1000;
    position: absolute;
    background: white;
    border: solid;
    border-width: 2px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
    border-radius: 5px;
    width: 150px;
    padding: 10px;
  }
  
  .menu-dropdown a {
    display: block;
    color: #18264b;
    padding: 10px;
    text-decoration: none;
  }
  
  .menu-dropdown a:hover {
    background-color: #18264b;
    color:white;
  }
  
  
  .interface {
    width: 60%;
    height: 60vh;
    display: flex;
    align-items: stretch;
    justify-content: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    display: flex;
    gap: 20px;
  }
  
  #hotel-image {
    width: 40%;
    height: 80vh;
    margin-bottom: 20px;
    margin-left: 50px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    display:flex;
  }
  
  .guestservice {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    width: 220px;
    height: 10vh;
    margin-bottom: 55px;
    margin-left: 20px;
    position: absolute;
    left: 0;
  
  }
  
  .guestservice input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 2px solid #18264b;
    border-radius: 5px;
  }
  
  .guestservice button {
    padding: 12px;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    background-color: #18264b;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    outline: none; /* Remove the outline */
  }
  
  .guestservice button:hover {
    background-color: #0f1a34; /* Change color on hover */
  }
  
  .roomquality {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  width: 220px;
  height: 10vh;
  margin-left: 20px;
  margin-top: 50px;
  position: absolute;
  left: 0;
  
  }
  
  .roomquality input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 2px solid #18264b;
  border-radius: 5px;
  }
  
  
  .roomquality button {
  padding: 12px;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  background-color: white;
  color: #18264b;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  outline: 3px solid #18264b;
  z-index: 10;
  }
  
  
  .hotelfacilities {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  width: 220px;
  height: 10vh;
  margin-left: 20px;
  margin-top: 115px;
  position: absolute;
  left: 0;
  
  }
  
  .hotelfacilities input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 2px solid #18264b;
  border-radius: 5px;
  }
  
  .hotelfacilities button {
  padding: 12px;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  background-color: #18264b;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  outline: none; /* Remove the outline */
  z-index: 10;
  }
  
  .hotelfacilities button:hover {
  background-color: #0f1a34; /* Change color on hover */
  }
  
  .valuemoney {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  width: 220px;
  height: 10vh;
  margin-left: 20px;
  margin-top: 180px;
  position: absolute;
  left: 0;
  
  }
  
  .valuemoney input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 2px solid #18264b;
  border-radius: 5px;
  }
  
  .valuemoney button {
  padding: 12px;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  background-color: #18264b;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  outline: none; /* Remove the outline */
  z-index: 10;
  }
  
  .valuemoney button:hover {
  background-color: #0f1a34; /* Change color on hover */
  }
  
  .overallsatisfaction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  width: 220px;
  height: 10vh;
  margin-left: 20px;
  margin-top: 245px;
  position: absolute;
  left: 0;
  
  }
  
  .overallsatisfaction input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 2px solid #18264b;
  border-radius: 5px;
  }
  
  .overallsatisfaction button {
  padding: 12px;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  background-color: #18264b;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  outline: none; /* Remove the outline */
  }
  
  .overallsatisfaction button:hover {
  background-color: #0f1a34; /* Change color on hover */
  }
  
  
  .guestfeedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  width: 220px;
  height: 10vh;
  margin-left: 20px;
  margin-top: 310px;
  position: absolute;
  left: 0;
  
  }
  
  .guestfeedback input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 2px solid #18264b;
  border-radius: 5px;
  }
  
  .guestfeedback button {
  padding: 12px;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  background-color: #18264b;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  outline: none; /* Remove the outline */
  }
  
  .guestfeedback button:hover {
  background-color: #0f1a34; /* Change color on hover */
  }
  
  .adminpanel {
  background-color: white;
  padding: 20px;
  width: 630px;
  height: 74vh;
  border: 2px solid #18264b;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start; 
  text-align: left; 
  }
  
  .adminpanel h3 {
  margin: 85px;
  margin-top: 95px;
  margin-bottom: 45px;
  font-size: 20px;
  color: #18264b;
  }
  
  .adminpanel p {
  font-size: 30px;
  color: #18264b;
  text-align: center;
  margin-left: 30px;
  }

  .roomquality-dash { /* Box Radius */
    background-color: white;
    padding: 20px;
    width: 1000px;
    height: 74vh;
    border: 2px solid #18264b;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start; 
    text-align: left;
    margin-left: 60px;  
}

.roomquality-dash h3 {
    margin: 95px auto 45px auto;
    margin-top: 95px;
    margin-bottom: 45px;
    margin-left: 430px;
    font-size: 20px;
    color: #18264b;
    text-align: center;
}

.roomquality-dash p {
  font-size: 27px;
  color: #18264b;
  text-align: center;
  margin: 30px;
}

#roomQualityChart {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  margin-left: 25px;
  margin-top: 2px;
}


  
