body {
    background-color: white;
}

.header {
    width: 95%;
    background-color: white;
    height: auto;
    display: flex;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    box-shadow: 0px 4px 6px 5px rgba(0, 0, 0, 0.1);
}

#company-logo {
    display: flex;
    width: 8vw;
    aspect-ratio: 3/2;
    object-fit: cover;
    align-content: center;
}

#company-contacts {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    margin-left: auto;
    flex-direction: column;
    margin-right: 20px;
}

    #company-contacts p {
        margin: 0;
        margin-top: 5px;
        font-size: 1vw;
        font-family: 'Poppins', sans-serif;
    }

#menu {
    margin-top: auto;
    margin-bottom: auto;
    align-items: center;
    justify-content: flex-end;
}

#menu-button {
    width: 4vw;
    font-size: 1vw;
    aspect-ratio: 2/1;
    color: white;
    border-radius: 5px;
    border-color: white;
    border: solid;
    box-shadow: 0;
    border-width: 2px;
    background-color: #18264b;
}

#hotel-image {
    width: 40%;
    height: auto;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
}
