body {
  background-color: white;
}
.header {
  width: 95%;
  background-color: white;
  height: auto;
  display: flex;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  box-shadow: 0px 4px 6px 5px rgba(0, 0, 0, 0.1);
}

#company-logo{
  display:flex;
  width:8vw;
  aspect-ratio:3/2;
  object-fit: cover;
  align-content: center;
}

#company-contacts {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  margin-left:auto;
  flex-direction:column;
  margin-right:20px;
  flex-shrink: 0;
  width: max-content;
}

#company-contacts p{
  margin:0;
  margin-top: 5px;
  font-size: 1vw;
  font-family: 'Poppins', sans-serif;
}

#menu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#menu-button {
  width: 4vw;
  font-size: 1vw;
  aspect-ratio: 2/1;
  color: white;
  border-radius: 5px;
  border-color: white;
  border: solid;
  box-shadow: 0;
  border-width: 2px;
  background-color: #18264b;
  
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

#menu-button:hover {
  background-color: white;
  color:#18264b;
  border-color:#18264b;
}

.menu-dropdown {
  display:none;
  top: calc(100% + 5px);
  right: 0;
  z-index:1000;
  position: absolute;
  background: white;
  border: solid;
  border-width: 2px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
  border-radius: 5px;
  width: 150px;
  padding: 10px;
}

#report-menu{
    background-color: #18264b;
    opacity: 0.8;
    color: white;
    pointer-events: none;
}

.menu-dropdown a {
  display: block;
  color: #18264b;
  padding: 10px;
  text-decoration: none;
}

.menu-dropdown a:hover {
  background-color: #18264b;
  color:white;
}

.report-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.report-input{
  width:93%;
  height: 75vh;
  border-radius: 10px;
  justify-content: flex-start;
  
  border:solid;
  border-color: #18264b;
  background-color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3vh;

  box-shadow: 0px 4px 6px 5px rgba(0, 0, 0, 0.1);

}

#report-page{
  font-size: 2vw;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  text-align: center;
  color: #18264b;

  margin:0;
  margin-bottom: 3vh;
}

#report-container{
  width:95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

#report-box{
  width: 95%;
  aspect-ratio: 8/1;
  display: block;

  margin-left: auto;
  margin-right: auto;
  margin-top: 1vh;
  margin-bottom: 1vh;
  padding:1vw;

  border: solid 0.15vw #18264b;
  border-radius: 3px;

  background-color: rgba(24, 38, 75, 0.3);
  color:#18264b;

  font-size: 1vw;
  font-family: 'Poppins', sans-serif;
  resize: none;
}

#submit-button{
  width:5em;
  display:block;
  margin-left: auto;
  margin-right: 1.1vw;
  padding: 0.5em;

  border-radius: 1vh;
  border: solid 0.3vh #18264b;

  font-size: 1vw;

  background-color: #18264b;
  color: white;
}

#submit-button:hover{
  background-color: white;
  color:#18264b;

  transition: 
  background-color 0.2s ease-in-out, 
  color 0.2s ease-in-out, 
  border-color 0.2s ease-in-out;
}

.bottom-content{
  display: flex;
  flex-direction: column;
  width:93%;
  margin-top: auto;
  margin-bottom:1vh;
  padding-top:2vh;
  padding-bottom:2vh;
  border-radius: 1vh;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.1);
}

.devs-info{
  display:flex;
  justify-content: center;
  width:95%;

  padding: 1vh;
  margin-top: auto;
  border-radius: 1vh;

  border:solid 0.1vw white;
  background-color: rgba(24, 38, 75, 0.85);
}

.devs-info p{
  margin-left:0.5vw;
  margin-right:0.5vw;

  font-size:0.9vw;
  color:white;

  font-family: 'Poppins', sans-serif;
  
  margin-top:0.2vw;
  margin-bottom:0.2vw;
}

.dev-pic{
  width:3vw;
  height: 3vw;
  border-radius: 50%;

  object-fit: cover;
  object-position: center;

  border:solid 0.15vw white;
  
}

.dev-1, .dev-2, .dev-3 {
  display: flex;
  align-items: center;
  gap: 0.5vw;
  margin-left: 5vw;
  margin-right: 5vw;
}

.footer{
  display: flex;
  text-align: center;
  justify-content: center;

  margin-top:2vh;
  width:93%;
}

.footer p{
  width:80%;
  color: #18264b;
  opacity: 0.8;
  font-family: 'Poppins', sans-serif;
  font-size:1vw;
}
